In [1]:
import pandas as pd

In [2]:
# reading 1 csv file from the website
df_premier21 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2526/E0.csv')

In [3]:

# showing dataframe
df_premier21

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,E0,20/12/2025,17:30,Tottenham,Liverpool,1,2,A,0,0,...,1.83,2.03,1.87,2.06,1.83,2.03,1.79,1.95,1.91,2.08
166,E0,20/12/2025,20:00,Everton,Arsenal,0,1,A,0,1,...,1.93,1.93,1.95,1.97,1.93,1.93,1.86,1.91,1.99,2.00
167,E0,20/12/2025,20:00,Leeds,Crystal Palace,4,1,H,2,0,...,2.00,1.85,2.03,1.89,2.00,1.85,1.94,1.82,2.05,1.94
168,E0,21/12/2025,16:30,Aston Villa,Man United,2,1,H,1,1,...,2.00,1.85,2.04,1.88,2.00,1.85,1.96,1.79,2.08,1.91
169,E0,22/12/2025,20:00,Fulham,Nott'm Forest,1,0,H,1,0,...,1.88,1.98,1.90,2.03,1.88,1.98,1.84,1.92,1.93,2.05

In [6]:
# rename columns
df_premier21 = df_premier21.rename(columns={'Date':'date',
                                            'HomeTeam':'home_team',
                                            'AwayTeam':'away_team',
                                            'FTHG': 'home_goals',
                                            'FTAG': 'away_goals'})

In [7]:

# showing dataframe
df_premier21

,Div,date,Time,home_team,away_team,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,15/08/2025,20:00,Liverpool,Bournemouth,4,2,H,1,0,...,2.03,1.78,2.07,1.85,2.03,1.88,1.94,1.76,2.14,1.86
1,E0,16/08/2025,12:30,Aston Villa,Newcastle,0,0,D,0,0,...,2.05,1.80,2.02,1.89,2.06,1.80,1.95,1.74,2.14,1.86
2,E0,16/08/2025,15:00,Brighton,Fulham,1,1,D,0,0,...,1.83,2.03,1.93,2.00,1.84,2.03,1.80,1.96,1.91,2.08
3,E0,16/08/2025,15:00,Sunderland,West Ham,3,0,H,0,0,...,1.95,1.90,1.97,1.95,1.95,1.94,1.86,1.78,2.02,1.97
4,E0,16/08/2025,15:00,Tottenham,Burnley,3,0,H,1,0,...,1.98,1.88,1.99,1.93,1.98,1.91,1.88,1.83,2.07,1.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,E0,20/12/2025,17:30,Tottenham,Liverpool,1,2,A,0,0,...,1.83,2.03,1.87,2.06,1.83,2.03,1.79,1.95,1.91,2.08
166,E0,20/12/2025,20:00,Everton,Arsenal,0,1,A,0,1,...,1.93,1.93,1.95,1.97,1.93,1.93,1.86,1.91,1.99,2.00
167,E0,20/12/2025,20:00,Leeds,Crystal Palace,4,1,H,2,0,...,2.00,1.85,2.03,1.89,2.00,1.85,1.94,1.82,2.05,1.94
168,E0,21/12/2025,16:30,Aston Villa,Man United,2,1,H,1,1,...,2.00,1.85,2.04,1.88,2.00,1.85,1.96,1.79,2.08,1.91
169,E0,22/12/2025,20:00,Fulham,Nott'm Forest,1,0,H,1,0,...,1.88,1.98,1.90,2.03,1.88,1.98,1.84,1.92,1.93,2.05

In [8]:
# link structure
"https://www.football-data.co.uk/mmz4281/" + "2122" + "/" + "E0" + ".csv"

'https://www.football-data.co.uk/mmz4281/2122/E0.csv'

In [9]:
# create a root variable
root = "https://www.football-data.co.uk/mmz4281/"

In [10]:
# creating list of leagues
leagues = ['E0','E2', 'E3']

frames = []
# looping through leagues, read multiple csv and append it into a list
for league in leagues:
    df = pd.read_csv(root + "2122" + "/"  + league + ".csv")
    frames.append(df)

In [11]:
# length of frames
len(frames)

3

In [12]:
# show 1st, 2nd and 3rd element
frames[2].head(3)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E3,07/08/2021,15:00,Carlisle,Colchester,0,0,D,0,0,...,1.57,-0.25,1.75,2.05,1.78,2.13,1.82,2.13,1.75,2.08
1,E3,07/08/2021,15:00,Exeter,Bradford,0,0,D,0,0,...,1.65,0.00,1.80,2.05,1.79,2.12,1.87,2.12,1.80,2.03
2,E3,07/08/2021,15:00,Forest Green,Sutton,2,1,H,1,0,...,1.60,-0.25,1.98,1.83,1.93,1.95,2.03,1.99,1.91,1.90

In [13]:
import pandas as pd
import time

frames = []

for league in leagues:
    for season in range(15, 21):
        url = f"{root}{season}{season+1}/{league}.csv"
        print("Loading:", url)

        try:
            df = pd.read_csv(url)

            # avoid duplicate column error
            if 'season' not in df.columns:
                df.insert(1, 'season', season)

            frames.append(df)
            time.sleep(2)  # IMPORTANT

        except Exception as e:
            print(f"Skipped {url} -> {e}")

Loading: https://www.football-data.co.uk/mmz4281/1516/E0.csv
Loading: https://www.football-data.co.uk/mmz4281/1617/E0.csv
Loading: https://www.football-data.co.uk/mmz4281/1718/E0.csv
Loading: https://www.football-data.co.uk/mmz4281/1819/E0.csv
Loading: https://www.football-data.co.uk/mmz4281/1920/E0.csv
Loading: https://www.football-data.co.uk/mmz4281/2021/E0.csv
Loading: https://www.football-data.co.uk/mmz4281/1516/E2.csv
Loading: https://www.football-data.co.uk/mmz4281/1617/E2.csv
Loading: https://www.football-data.co.uk/mmz4281/1718/E2.csv
Loading: https://www.football-data.co.uk/mmz4281/1819/E2.csv
Loading: https://www.football-data.co.uk/mmz4281/1920/E2.csv
Loading: https://www.football-data.co.uk/mmz4281/2021/E2.csv
Loading: https://www.football-data.co.uk/mmz4281/1516/E3.csv
Loading: https://www.football-data.co.uk/mmz4281/1617/E3.csv
Loading: https://www.football-data.co.uk/mmz4281/1718/E3.csv
Loading: https://www.football-data.co.uk/mmz4281/1819/E3.csv
Loading: https://www.football-data.co.uk/mmz4281/1920/E3.csv
Loading: https://www.football-data.co.uk/mmz4281/2021/E3.csv

In [14]:
# total frames (6 seasons x 3 leagues)
len(frames)

18

In [15]:
# show 1st, and last element (new season column was created)
frames[17]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E3,20,12/09/2020,15:00,Barrow,Stevenage,1,1,D,1,...,1.76,-0.25,1.95,1.90,1.93,1.98,1.98,1.99,1.91,1.92
1,E3,20,12/09/2020,15:00,Bolton,Forest Green,0,1,A,0,...,1.79,-0.25,2.02,1.83,2.04,1.87,2.09,1.90,2.00,1.83
2,E3,20,12/09/2020,15:00,Bradford,Colchester,0,0,D,0,...,1.65,-0.25,2.07,1.72,2.11,1.82,2.20,1.82,2.09,1.76
3,E3,20,12/09/2020,15:00,Cambridge,Carlisle,3,0,H,2,...,1.70,-0.25,1.98,1.88,2.02,1.88,2.04,1.90,1.99,1.84
4,E3,20,12/09/2020,15:00,Cheltenham,Morecambe,1,2,A,1,...,1.75,-0.50,1.83,2.02,1.87,2.04,1.88,2.09,1.83,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E3,20,08/05/2021,15:00,Port Vale,Mansfield,0,3,A,0,...,1.84,0.25,1.90,1.95,1.89,2.00,1.95,2.07,1.85,1.97
548,E3,20,08/05/2021,15:00,Scunthorpe,Stevenage,0,1,A,0,...,1.73,0.50,1.80,2.05,1.84,2.06,1.87,2.14,1.77,2.07
549,E3,20,08/05/2021,15:00,Southend,Newport County,1,1,D,1,...,1.44,0.50,1.93,1.93,1.94,1.94,1.97,1.97,1.91,1.91
550,E3,20,08/05/2021,15:00,Tranmere,Colchester,0,0,D,0,...,1.59,-0.75,2.05,1.80,2.05,1.85,2.08,1.89,2.01,1.82
551,E3,20,08/05/2021,16:00,Salford,Leyton Orient,3,0,H,1,...,1.87,-1.00,1.98,1.88,1.99,1.90,2.01,1.96,1.96,1.86

In [16]:
# create a dictionary with original name of league as key
dict_countries = {
              'Spanish La Liga':'SP1', 'Spanish Segunda Division':'SP2',
              'German Bundesliga':'D1', 
              'English Premier League':'E0', 'English League 1':'E2', 'English League 2':'E3',
             }

In [17]:
# get a dictionary element
dict_countries['German Bundesliga']

'D1'

In [19]:
import time
import pandas as pd

dict_historical_data = {}

for league_name, league_code in dict_countries.items():
    print(f"\nProcessing league: {league_name}")
    frames = []

    for season in range(15, 21):
        url = f"{root}{season}{season+1}/{league_code}.csv"
        print("  Loading:", url)

        try:
            df = pd.read_csv(url)

            # prevent duplicate column error
            if 'season' not in df.columns:
                df.insert(1, 'season', season)

            frames.append(df)
            time.sleep(2)  # IMPORTANT

        except Exception as e:
            print(f"  Skipped season {season}: {e}")

    if frames:  # only concat if data exists
        dict_historical_data[league_name] = pd.concat(frames, ignore_index=True)

Processing league: Spanish La Liga
  Loading: https://www.football-data.co.uk/mmz4281/1516/SP1.csv
  Loading: https://www.football-data.co.uk/mmz4281/1617/SP1.csv
  Loading: https://www.football-data.co.uk/mmz4281/1718/SP1.csv
  Loading: https://www.football-data.co.uk/mmz4281/1819/SP1.csv
  Loading: https://www.football-data.co.uk/mmz4281/1920/SP1.csv
  Loading: https://www.football-data.co.uk/mmz4281/2021/SP1.csv

Processing league: Spanish Segunda Division
  Loading: https://www.football-data.co.uk/mmz4281/1516/SP2.csv
  Loading: https://www.football-data.co.uk/mmz4281/1617/SP2.csv
  Loading: https://www.football-data.co.uk/mmz4281/1718/SP2.csv
  Loading: https://www.football-data.co.uk/mmz4281/1819/SP2.csv
  Loading: https://www.football-data.co.uk/mmz4281/1920/SP2.csv
  Loading: https://www.football-data.co.uk/mmz4281/2021/SP2.csv

Processing league: German Bundesliga
  Loading: https://www.football-data.co.uk/mmz4281/1516/D1.csv
  Loading: https://www.football-data.co.uk/mmz4281/1617/D1.csv
  Loading: https://www.football-data.co.uk/mmz4281/1718/D1.csv
  Loading: https://www.football-data.co.uk/mmz4281/1819/D1.csv
  Loading: https://www.football-data.co.uk/mmz4281/1920/D1.csv
  Loading: https://www.football-data.co.uk/mmz4281/2021/D1.csv

Processing league: English Premier League
  Loading: https://www.football-data.co.uk/mmz4281/1516/E0.csv
  Loading: https://www.football-data.co.uk/mmz4281/1617/E0.csv
  Loading: https://www.football-data.co.uk/mmz4281/1718/E0.csv
  Loading: https://www.football-data.co.uk/mmz4281/1819/E0.csv
  Loading: https://www.football-data.co.uk/mmz4281/1920/E0.csv
  Loading: https://www.football-data.co.uk/mmz4281/2021/E0.csv

Processing league: English League 1
  Loading: https://www.football-data.co.uk/mmz4281/1516/E2.csv
  Loading: https://www.football-data.co.uk/mmz4281/1617/E2.csv
  Loading: https://www.football-data.co.uk/mmz4281/1718/E2.csv
  Loading: https://www.football-data.co.uk/mmz4281/1819/E2.csv
  Loading: https://www.football-data.co.uk/mmz4281/1920/E2.csv
  Loading: https://www.football-data.co.uk/mmz4281/2021/E2.csv

Processing league: English League 2
  Loading: https://www.football-data.co.uk/mmz4281/1516/E3.csv
  Loading: https://www.football-data.co.uk/mmz4281/1617/E3.csv
  Loading: https://www.football-data.co.uk/mmz4281/1718/E3.csv
  Loading: https://www.football-data.co.uk/mmz4281/1819/E3.csv
  Loading: https://www.football-data.co.uk/mmz4281/1920/E3.csv
  Loading: https://www.football-data.co.uk/mmz4281/2021/E3.csv

In [20]:
# show dataframe inside dict_historical_data
dict_historical_data['Spanish La Liga']

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP1,15,21/08/15,Malaga,Sevilla,0,0,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SP1,15,22/08/15,Ath Madrid,Las Palmas,1,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SP1,15,22/08/15,Espanol,Getafe,1,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SP1,15,22/08/15,La Coruna,Sociedad,0,0,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SP1,15,22/08/15,Vallecano,Valencia,0,0,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,SP1,20,22/05/2021,Osasuna,Sociedad,0,1,A,0,0,...,2.34,1.00,2.07,1.86,2.06,1.87,2.07,1.96,1.98,1.88
2276,SP1,20,22/05/2021,Real Madrid,Villarreal,2,1,H,0,1,...,2.57,-1.00,2.01,1.92,2.00,1.93,2.02,2.02,1.95,1.92
2277,SP1,20,22/05/2021,Valladolid,Ath Madrid,1,2,A,1,0,...,2.30,1.50,1.90,2.03,1.90,2.02,1.95,2.06,1.90,1.97
2278,SP1,20,23/05/2021,Granada,Getafe,0,0,D,0,0,...,1.80,0.25,1.73,2.08,1.77,2.18,1.84,2.23,1.77,2.12
2279,SP1,20,23/05/2021,Sevilla,Alaves,1,0,H,0,0,...,2.40,-1.50,1.97,1.96,1.93,1.99,2.13,2.03,1.99,1.88